<% if(typeof(message) != "undefined") {%>
<div class="alert alert-error">
  <a class="close" data-dismiss="alert">×</a>
  <h4 class="alert-heading"><%- message.type%></h4>
  <%- message.message%>
</div>
<%}%>
<ul class="breadcrumb">
    <li>
        <a href="<%- url_base%>/admin/home">首页</a> <span class="divider">/</span>
    </li>  
    <li>
        <a href="<%- url_base%>/dict/dictlist">字典管理</a> <span class="divider">/</span>
    </li>    
    <li class="active">新增字典</li>     
</ul>

<form action="<%- url_base%>/dict/<%- action%>" method="post" class="form-horizontal" style="background-color:#fff;">
<fieldset>
    <legend>&nbsp;新增字典</legend> 
    <div class="control-group">
        <label class="control-label" for="name">字典名称 </label>
        <div class="controls">
            <input value="<%- item.name%>" name="name" id="name" class="input-xlarge focused" type="text" placeholder="输入字典名称…">
        </div>    
    </div>

    <div class="control-group">
        <label class="control-label" for="code">字典编码</label>
        <div class="controls">
            <input value="<%- item.code%>" name="code" id="code" class="input-xlarge focused" type="text" placeholder="输入字典编码…">
        </div>
    </div>

    <% if(action == "dictmodify") { %>
    <div class="control-group">
        <label class="control-label" for="createAt">创建日期</label>
        <div class="controls">
            <input value="<%- item.createAt%>" id="createAt" class="input-xlarge  disabled" type="text"  disabled>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="updateAt">更新日期</label>
        <div class="controls">
            <input value="<%- item.updateAt%>" id="updateAt" class="input-xlarge  disabled" type="text"  disabled>
        </div>
    </div>
    <% } %>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">保存</button>
        <button class="btn btnCancel" type="button">取消</button>
    </div>
</fieldset>

<input type="hidden" name="_id" value="<%- item._id%>" />
</form>
